<p id="notice"><%= notice %></p>

<h1>Reports</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Image a</th>
      <th>Image b</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.name %></td>
        <td><%= report.image_a %></td>
        <td><%= report.image_b %></td>
        <td><%= link_to 'Show', report, class: 'btn btn-primary  animsition-link' %></td>
        <td><%= link_to 'Edit', edit_report_path(report), class: 'btn btn-primary my-2 animsition-link' %></td>
        <td><%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary my-2 animsition-link' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Report', new_report_path %>
