<div class="panel">
  <div class="panel-body container-fluid">

    <!-- Card -->
    <div class="card-group">
      <div class="card card-block p-0">
        <div class="counter counter-md vertical-align bg-blue-700 h-300">

            <img class="cover-image"src="<%= @report.image_a.attached? ? url_for(@report.image_a) : '/report/images/single/1.jpg' %>" style='height:20vw;width:35vw;margin-bottom:1px;'>
          
        </div>

        
        <% @text_detections_a.text_detections.each do |text| %>
          <%= text.detected_text %>
        <% end %>                                             
        
        <hr>

        <% @detect_labels_a.labels.each do |label| %>
          <%= label.name %> - <%= label.confidence %><br>
        <% end %>

        <hr>

        <% @detect_moderation_labels_a.moderation_labels.each do |moderation| %>
          <%= moderation.parent_name %> - <%= moderation.name %> - <%= moderation.confidence %><br>
        <% end %>

      </div>
      <div class="card card-block p-0">
        <div class="counter counter-md vertical-align bg-red-700 h-300">          
            
          <img class="cover-image" src="<%= @report.image_b.attached? ? url_for(@report.image_b) : '/report/images/single/1.jpg' %>" style='height:20vw;width:35vw;margin-bottom:1px;'>

        </div>

          <% @text_detections_b.text_detections.each do |text| %>
            <%= text.detected_text %>
          <% end %>
          
          <hr>

          <% @detect_labels_b.labels.each do |label| %>
            <%= label.name %> - <%= label.confidence %><br>
          <% end %>

          <hr>

          <% @detect_moderation_labels_b.moderation_labels.each do |moderation| %>
            <%= moderation.parent_name %> - <%= moderation.name %> - <%= moderation.confidence %><br>
          <% end %>

      </div>
    </div>
    <!-- End Card -->

  </div>
</div>

<center>
  <%= link_to 'Edit', edit_report_path(@report), class: 'btn btn-primary my-2 animsition-link' %>
  <%= link_to 'Back', reports_path, class: 'btn btn-primary my-2 animsition-link' %>
</center>
