<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @report.name %>
</p>

<p>
  <strong>Image a:</strong>
  <%= @report.image_a %>
</p>

<p>
  <strong>Image b:</strong>
  <%= @report.image_b %>
</p>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
